PORT=8080
HOST=0.0.0.0
WORKER_TOKEN=put-a-long-random-token-here
STEAM_TICKET_GENERATOR_EXE_PATH=C:\MerlinTools\token-generator\steam-ticket-generator.exe
STEAM_TICKET_GENERATOR_WORKDIR=C:\MerlinTools\token-generator
STEAM_TICKET_GENERATOR_CONFIG_PATH=C:\MerlinTools\token-generator\configs.user.ini
STEAM_TICKET_GENERATOR_LOG_PATH=C:\MerlinTools\token-generator\steam-ticket-generator.log
STEAM_TICKET_GENERATOR_JOBS_DIR=C:\Windows\Temp\merlin-worker-ticket-jobs
JOB_TIMEOUT_MS=60000
THIRD_PARTY_TOKEN_GENERATOR_EXE_PATH=C:\MerlinTools\token-req-generator\DenuvoTicket.exe
THIRD_PARTY_TOKEN_GENERATOR_WORKDIR=C:\MerlinTools\token-req-generator
THIRD_PARTY_TOKEN_OUTPUT_PATH=C:\MerlinTools\token-req-generator\token\token.txt
THIRD_PARTY_TOKEN_JOBS_DIR=C:\Windows\Temp\merlin-worker-token-jobs
THIRD_PARTY_TOKEN_TIMEOUT_MS=60000
